
#heading {
	background: olive;
}

#page_container {
	background-color: #fff;
}

#error-msg, #notice {
    background-color: #ffffcc;
    border: solid 2px #999900;
}

.is_fixed {
    background-color: #b5d29c;
    border: solid 2px #009900;
    color: #222222;
}

#report-subscribers {
   background: #222222; 
   border: solid 2px #b4b4b4;
}
.is_fixed p {
    color: #222222;
    text-align: left;
    margin: 1em;
}


.errorlist {
	color: #fc3535;
}

.row-highlight {
	background: #FFFFAA;
}

td.section {
     	background-color:#000000;
}

.row-odd {
	background: #222222;
}

.row-even {
	background: #434343;
}

#photo_note {
	color: #6396b0;
}

#top_menu {
	background: #666666;
}


#top_menu {
	background: #666666 url(/media/images/stat_tl.png) no-repeat;
}

#top_menu_tr {
	background: url(/media/images/stat_tr.png) top right no-repeat;
}

#top_menu_bl {
	background: url(/media/images/stat_bl.png) bottom left no-repeat;
}

#top_menu_br {
	background: url(/media/images/stat_br.png) bottom right no-repeat;
}

.note strong {
	color:green;
}

a {
	color: #7E090C;
}
p {color:#B4B4B4;}

#content_third .fix-disclaimer p{color: #4c4c4c;}

.status-text {
color:#666666;
}


#content_container h1 {
	color: #4a8797;
}
#content_container h2 {
	color: #f3865a;
}
#content_container h3 {
	color: #FFF;
    text-shadow:0px 1px 0px #000;
}

#content_middle a {
	color: #fc3535;
}

#more-actions a {
	color: #98b3cc;
	font-weight: bold;
}

.ishate strong {
color:red;

}

th {
	font-weight: bold;
}





.highlight {color:#FFF;}
