/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
/*** CSS RESET ***/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	/*font-weight: inherit;
	font-style: inherit;
	font-family: inherit; */
	vertical-align: baseline;
}
:focus {
	outline: 0;
}
body {
	line-height: 1.3;
	background: silver;
	font-size: 90%; /* equals 10px in most modern broswers, 1.2em = 12px, 2.8em = 28px*/
	/** bc specific **/
	font-family: Helvetica, "Lucida Sans", "Trebuchet MS", Helvetica, Arial, sans-serif;
	color: #222;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}


/*--------------------------------------------------------------------------------------------------------*/
/**** GLOBAL STYLES ****/

::-moz-selection{
	background:#daecf0;
	color:#4b8899;
}
::selection {
	background:#daecf0;
	color:#4b8899;
}
a::-moz-selection {
	background: #d9f0d9;
	color: #68a12d;
}
a::selection {
	background: #d9f0d9;
	color: #68a12d;
}


a {
	text-decoration: none;
}


.float_wrapper {
	width: 100%;
	overflow: hidden;
}


.clearfloat {clear: both; display: block;}



.unknown {
    background-color: #ffcccc;
    border: solid 2px #990000;
}

