body {
	background: white;
	padding: 0;
	margin: 0;
	text-align: center;
}

#page_container {
	width: 630px;
	margin: 0px auto;
}

#city_top_problems table td:first-child { padding-left: 5px; }

#city_all_problems {  }

.table-stat { width: 80px; }
.table-rank { width: 60px; }
.table-intro { width: 140px; }
.row-text { width: 470px; }

#page_content_container {
	min-height:550px;
	width: 100%;
}

.is_fixed {
    width:100%;
    padding: 5px;
    text-align: center;
    position: relative;
}

#fullwidth {
	padding: 5px;
	width: 100%;
	min-height: 300px;
}

#content {
	text-align: left;
	margin: 10px auto;
	min-height:550px; 
	width: 630px;
}


#error-msg, #notice {
    width:70%;
    padding: 5px;
    margin: 0px auto;
    text-align: center;
}

.errorlist {
    width:100%;
    color: #990000;
    font-size: 80%;
}

#leftcol {
	float: left;
	width: 52%;
}


#rightcol {
	float: right;
	width: 45%;
}

#map_canvas {
	margin: 0px auto;
	width: 100%;
	height: 400px;
}

label {
	float: left;
	padding: 0px;
}

#photo_note {
	font-size: 80%;
	font-weight: italic;
	padding-top: 0px;
	padding-bottom: 2px;
}

table.form td,th {
	padding-top: 5px;
	padding-bottom: 5px;

}

table.form td input[type='submit'] {
	align: right;
}

table.form td select {
	width: 100%;
}

table.form td textarea {
	width: 100%;
}

table.form td input[type='text'] {
	width: 100%;
}

table.form th
{
	vertical-align: top;
	text-align: right;
	padding-right: 5px;
} 

#more-actions {
	font-size: 80%;
	text-align: right;
}

#intro_text {
	text-align: center;
	padding-top: 5px;
}

#start_box {
width: 625px;
text-align: center;
margin-left: auto;
margin-right: auto;
}



#supported_cities {
margin-left: auto;
margin-right: auto;
/*margin-top: -10px;*/
width: 625px;
min-height: 3em;
}

#supported_cities div {
margin: 0px auto;
text-align: center;
margin-top: 10px;
width: 625px;
}

#supported_cities ul li {
list-style-type: none;
padding: 0px 4px;
margin: 0;
}

.block .fix-disclaimer {
width: 300px;
}

.fix-disclaimer { 
float: left; 
text-align: center;
margin-top: 10px;
font-size: 90%;
}



#col2 {
	float: right;
	width: 48%;
	min-height:450px;
}

#col1 {
	float: left;
	width: 48%;
	min-height:450px;
}

.block {
	height: 150px;
}


hr {
	border: 0.3px dotted silver;
}

.error {
	background-color: #fce7e7;
	color: red;
	padding: 3px;
}

#stat-group {
	height: 115px;
}

#subscribe-form-bg { 
	text-align: center; 
}

#subscribe-form { 
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center; 
}

#subscribe-form form { 
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #eeeeee;
}

.stat {
	width: 80px;
	color: #fff;
	height: 105px;
	margin: 5px;
	float: left;
	font-size: 80%;
	text-align: center;
	vertical-align: middle;
}

.stat .bottom-left {
	height: 105px;
}

.stat .bottom-right {
	height: 105px;
}

.stat .content {
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 5px;
}

.stat span {
	font-size: 250%;
	font-weight: bold;
}

a {
	text-decoration: underline;
}

div.block ul li {
	list-style-type: square;
	margin-left: 2em;
}

div.block ul li a:hover {
	text-decoration: underline;
}


#ward_box {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	overflow: hidden;
}

#ward_box div {
	padding: 5px;
}

#ward_box img {
	padding-right: 5px;
}


blockquote {
	margin-left: 3em !important;
	padding-left: 1em !important;
	border: 1px solid silver;
	border-left: 5px solid silver !important;
	margin-bottom: 0.8em;
}



#bugreport {
}

.note {
font-weight:bold;
font-size:9pt;
background-color:#eee;
padding:1.2em;
}

.note strong {
	font-size:10pt;
}

.subitem {
	margin-left:105px;
}
.subitem strong{
font-weight:bold;
font-color:green;	
}


.recent_photos li {
height: 100px;
display: inline !important;
margin: 2px !important;
padding: 0 !important;
list-item-type: none;
display: inline; 
}

.recent_photos li a { text-decoration: none; }

#report-header { width: 100%;}
#report-status { 
		width: 75%;
		padding-top:10px; 		 
		padding-bottom:10px; 		 
		float: left; 
}
#report-subscribers { 
	font-size: 85%; 
	padding-top:10px; 
	padding-bottom: 10px; 
	width: 25%; 
	float: right; 
	text-align: center; 
	background: #AAFBAF; } 
#report-body { width: 100%; clear: both; }
#report-body img { width: 100%; }