
body {
	background: white;
	padding: 0;
	margin: 0;
	text-align: center;
}


#page_container {
	width: 950px;
	margin: 0px auto;
}

#city_top_problems table td:first-child { padding-left: 5px; }

#city_all_problems {  }

.table-stat { width: 80px; }
.table-rank { width: 60px; }
.table-intro { width: 140px; }
.row-text { width: 470px; }

#header {
	width: 100%;
	height: 80px;
	margin-top: 10px;
}

#header_left {
	float: left;
	width: 530px;
	height: 60px;
	padding-top:1.3em;
}

#header_right {
	float: right;
	height: 60px;
	width: 42%;
}

#page_content_container {
	min-height:400px;
	width: 100%;
	margin-top:1.2em;
	background: url('/media/images/map-background.png') 275px 0 no-repeat;
}

#leftcol {
float: left;
text-align:left;
width: 45%;
min-height:450px;
}


#rightcol {
float: right;
width: 450px;
}
.is_fixed {
    width:100%;
    padding: 5px;
    margin-bottom: 1em;
    text-align: center;
    position: relative;
}

#error-msg, #notice {
    width:70%;
    padding: 5px;
    margin: 0px auto;
    text-align: center;
}


.errorlist {
    width:100%;
    color: #990000;
    font-size: 80%;
}

#fullwidth {
padding: 5px;
width: 100%;
min-height: 300px;
text-align:left;
}


#map_canvas {
	margin: 0px auto;
	width: 520px;
	height: 400px;
	border:2px solid #717171;
}

#top_menu {
	text-align: right;
	width: 100%;
	padding: 0;
	height: 50px;
}



#top_menu ul li {
    float: left;
    margin-left: 20px;
	list-style-type: none;
	padding: 1em;
}

#top_menu a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

#top_menu a:hover {
	padding-bottom: 3px;
	border-bottom: 3px solid #fff;
}

#top_menu_br {
	height: 50px;
}

#top_menu_bl {
	height: 50px;
}


#top_menu_links {
	float: left;
	width: 100%;
	text-align: left;
	height: 50px;
}

#top_menu_links div {
	float: right;
	width: 100%;
}

#language {
	padding-top: 1em;
	padding-right: 1em;
	width: 100%;
	height: 40px;
	text-align: right;
	float: right
}


#content {
	text-align: left;
	margin: 10px auto;
	min-height:550px;
	width: 930px;
}

label {
width: 85px;
float: left;
padding: 0px;
padding-top:4px;
}

#photo_note {
	font-size: 80%;
	font-weight: italic;
	padding-top: 0px;
	padding-bottom: 2px;
}


table.form td,th {
	padding-top: 5px;
	padding-bottom: 5px;

}

table.form td input[type='submit'] {
	align: right;
}

table.form td select {
	width: 100%;
	padding: 2px;
}


table.form input[type='text'],table.form textarea  {
	width: 100%;
	border:0 none;
	color:#222222;
	padding: 2px;
}

table.form th
{
	vertical-align: top;
	text-align: right;
	padding-right: 5px;
}

.checklist {
margin-left: 105px;
}

.checklist label {
}

.inactive {
color: silver;
border: 1px solid silver;
text-decoration: none;
padding: 4px;
}


#more-actions {
font-size: 80%;
text-align: right;
}

#intro_text {
text-align: left;
padding-top: 5px;
}

#start_box {
	text-align: left;
	margin-top:4em;
	width: 70%;
	float: left;
}

#supported_cities { width: 20%; float: right; text-align: left;}
#supported_cities ul { padding: 10px 0px; }
#supported_cities ul li {
	padding: 2px 10px;
	margin: 0;
}

.block .fix-disclaimer {
width: 300px;
}

.fix-disclaimer {
float: right;
margin-top: 10px;
padding-right:1em;
font-size: 80%;
}


#testing {
width: 625px;
text-align: center;
font-style: italic;
margin-left: auto;
margin-right: auto;
}


#col2 {
	float: right;
	width: 57%;
}

#col1 {
float: left;
width: 43%;
}

.block {
height: 150px;
}


hr {
border: 0.3px dotted silver;
}

.error {
background-color: #fce7e7;
color: red;
padding: 3px;
}

#stat-group {
height: 115px;
}

#subscribe-form-bg {
	text-align: center;
}

#subscribe-form {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#subscribe-form form {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.stat {
	width: 150px;
	color: #222;
	height: 95px;
	margin: 0.6em;
	float: left;
	text-align: center;
	vertical-align: middle;
	background: url('/media/images/metrics-back.gif') 0 0 no-repeat;
}

a {
text-decoration: underline;
}

div.block ul li {
list-style-type: square;
margin-left: 2em;
}

div.block ul li a:hover {
text-decoration: underline;
}


#ward_box {
width: 400px;
margin: 1em auto;
padding: 5px;
overflow: hidden;
}

#ward_box img {
padding-right: 5px;
}

#report-destination {
	padding: 10px;
	text-align:left;
}

#report-destination ul {
	margin-left: 20px;
	margin-top: 5px;
}

#report-destination ul li {
	list-style-type: disc;
}

blockquote {
margin-left: 3em !important;
padding-left: 1em !important;
border: 1px solid silver;
border-left: 5px solid silver !important;
margin-bottom: 0.8em;
}


#footer {
width:960px;
margin: 0 auto;

height: 60px;
text-align: left;
padding: 5px;
}

#bugreport {
}

.note {
font-weight:bold;
font-size:9pt;
background-color:#bee4be;
padding:1.2em;
color:#333;
font-weight:normal;
}

.note strong {
	font-size:10pt;
}

.subitem {
	margin-left:105px;
}
.subitem strong{
font-weight:bold;
font-color:green;
}


.recent_photos li {
height: 100px;
display: inline !important;
margin: 2px !important;
padding: 0 !important;
list-item-type: none;
display: inline;
}

#fullwidth p { margin-bottom: .5em; }

.recent_photos li a { text-decoration: none; }

#report-header { width: 100%; height: 7em; overflow: hidden;}
#report-status { padding-top:10px; width: 78%; float: left;  height: 7em; }
#report-subscribers { padding-top:10px; padding-bottom: 10px; width: 20%; float: right; text-align: center;  }
#report-body { padding-top: 5px; }
ol#search_results { margin: 1em 0px; }
div#search_box { width: 460px; float: left; }
input#search_box {width:460px;padding:1em;color:#222;font-size:100%; border:0;}
input.big_button {background-color:;width:222px;height:56px;display:block;background: url("/media/images/search-off.png") no-repeat 0 0;border:0;
font-family:Helvetica,"Lucida Sans","Trebuchet MS",Helvetica,Arial,sans-serif;
font-size: 1.2em;
color:#ffffff; font-weight: bold; margin-top:1.2em;
margin-bottom: 2em; }
input.big_button:hover {background: url("/media/images/search-hover.png") no-repeat 0 0;cursor: pointer;cursor: hand;}
#content_third {padding-top:2em;}
#content_middle {overflow:hidden; min-height: 300px; }
#instructable {width:300px;text-align:left;}
#instructable img {padding-right:1.5em;}
#contact_us_form { width:450px; text-align: left; }
#contact_us_form p { margin-bottom: .5em; }

.left {float:left;}
.right {float:right;}
