{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Reports for" %} {{ward.name}}, {{ward.city.name}}{% endblock %}
{% block content %}
	<div id="fullwidth">
	<h3>{% trans "Reports for" %} {{ward.name}}, {{ward.city.name}} (Ward {{ward.number}})</h3>
		{% if older_reports_link %} (<a href="{{older_reports_link}}" %}>{% trans "See older reports" %}</a>){% endif %}</p>
		<div id='leftcol'>
			<ol>
				{% if not reports %}
					<p>{% trans "No problems have been reported." %}</p>
				
				{% endif %}
				<div class="pagination">
    				<span class="step-links">
        			{% if page.has_previous %}
            		<a href="?page={{ page.previous_page_number }}">{% trans "Previous" %}</a> | 
        			{% endif %}
        			{% if page.has_other_pages %}
					<span class="current">
            			{{page.start_index}}-{{page.end_index}} {% trans "of" %} {{page.paginator.count}} {% trans "Reports." %} 
        			</span>
        			{% endif %}
        			{% if page.has_next %}
            		| <a href="?page={{ page.next_page_number }}">{% trans "Next" %}</a>
        			{% endif %}
    				</span>
				</div>
				{% for report in reports %}					
					{% ifchanged report.status %}  	
					 <p/><h2>{% trans report.status %}</h2>
					{% endifchanged %}
                    <li><a href='{{report.get_absolute_url}}'>{{report.title}}</a></li>
                {% endfor %}
             </ol>
             <br/><br/>
             {% if reports %}
             <div class="fix-disclaimer">
             	<p>{% trans "Note: fixmystreet.ca relies on users to report problems as fixed." %}</p>
             </div>
             {% endif %}
 		</div>
		<div id='rightcol'>
		{% if google %}
    		<div id="{{ google.dom_id }}"></div>
    	{% endif %}
    	{% include "wards/_info_box.html" %}   	

		</div>
	</div>
	<br/ style="clear:both;">
{% endblock %}
