{% load i18n %}
<table width="100%">
	<tr class ='table_heading'>
		<th class='table-stat'></th>
		<th class='table-rank'></th>
		<th class='row-text' ></th>
		<th class='table-stat'>{% trans "New Problems" %}</th>
		<th class='table-stat'>{% trans "Older Unresolved Problems" %}</th>
		<th class='table-stat'>{% trans "Recently Fixed" %}*</th>
		<th class='table-stat'>{% trans "Old Fixed" %}*</th>
	</tr>
{% for entry in report_counts %}
	{% if entry.province %}
		{% ifchanged entry.province %}
			<tr ><td colspan=7 class='section' >{{entry.province.name}}</td></tr>
		{% endifchanged %}
	{% endif %}
	<tr class="{% cycle 'row-odd' 'row-even' %}">
	<td><a href='{{entry.feed_url}}'><img src="/media/images/rss25x26.png" /></a></td>
	<td>{{entry.number}}</td>
	<td><a href='{{entry.get_absolute_url}}'>{{entry.name}}</a></td>
	<td>{{entry.recent_new}}</td>
	<td>{{entry.old_unfixed}}</td>
	<td>{{entry.recent_fixed}}</td>
	<td>{{entry.old_fixed}}</td>
	</tr>
{% endfor %}
</table>
<div class="fix-disclaimer"><p>*{% trans "As reported by fixmystreet.ca users." %}</p></div>
