{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Reports for" %} {{city.name}}{% endblock %}
{% block content %}
<div id="page_content_container">
	<div id="fullwidth">
	<h3>{% trans "Reports for" %} {{city.name}}</h3>
	<div id='city-header'>
	<div id='city-stat-group'>
		<p><b>{% trans "City Stats" %}</b></p>
		<div class='stat'>
			<span class='number'>{{city_totals.recent_new}}</span><br/>
			<span class='text'>{% trans "Reports Filed" %}<br/></span>
		</div>
		<div class='stat'>
			<span  class='number'>{{city_totals.recent_fixed}}</span><br/>
			<span class='text'>{% trans "Reports Fixed" %}*<br/></span>
		</div>
		<div class='stat'>
			<span class='number'>{{city_totals.recent_updated}}</span><br/>
			<span class='text'>{% trans "Reports Updated" %}</span><br/>
		</div>
	</div>	
	{% if top_problems %}
	<div id="city-top-problems">
		<p><b>{% trans "Top Problems" %}</b></p>
		<table>
			<tr>
				<th class='table-intro'>{% trans "Rank" %}</th>
				<th class='row-text' >{% trans "Problem" %}</th>
				<th class='table-stat'>{% trans "Number of Subscribers" %}</th>
			</tr>
			{% for top_problem in top_problems %}
			<tr class="{% cycle 'row-odd' 'row-even' %}">
				<td>{{forloop.counter}}</td>
				<td><a href='{{top_problem.get_absolute_url}}'>{{top_problem.title}}</a></td>
				<td width="30px;">{{top_problem.subscriber_count|add:"1"}}</td>
			</tr>
			{% endfor %}
		</table>
		<br/>
	</div>
	{% endif %}
	</div>
	<br/ style="clear:both">
	<div id="city_all_problems">
		<p><b>{% trans "Reports by Ward" %}</b></p>
		{% include "cities/_report_count_table.html" %}		
	</div>
	</div>
	<br/ style="clear:both;">
		{% if google %}
    		<div id="{{ google.dom_id }}" style="width:400px;height:400px;"></div>
    	{% endif %}
	
</div>

{% endblock %}