{% extends "base.html" %}
{% load i18n %}
{% block script %}
{% include "_search.js" %}
{% endblock %}
{% block css %}
<style type="text/css" media="screen">
	#supported_cities { font-size: 80%; }
	#front-page  { text-align: center; width: 100%; }
	#status  { text-align: center; min-height:150px; width: 100%; }
	.block { text-align: left; }

</style>
{% endblock %}
</style>
{% block content %}
<div id='search-error'>
{% if search_error %}
<div id='error-msg'>{{search_error}}</div>
{% endif %}
</div>
<div id="page_content_container">
  <div id='disambiguate'></div>
  <div id="front-page">
	<div id="intro_text">
	  <h1>{% trans "report/view/discuss" %}</h1>
	  <p><span>{% trans "graffiti." %}</span>
		<span class='alt'>{% trans "potholes." %}</span>
		<span>{% trans "excessive" %}</span>
		<span class='alt'>garbage.</span>
		<span>{% trans "street" %}</span>
		 <span class='alt'>lighting.</span></p>
	</div>

	<div id='start_box'>
	   <form onsubmit="return do_search()" >	
		<p>{% trans "Enter a nearby postal code, or street name and city:" %}</p>
			<input id='search_box' type="text" name="q"
		    {% if location %}value="{{location}}"{% endif %}
			>
			<input id='search_button' class='big_button' type="button" name="submit" onclick="do_search()" value="{% trans "Search" %}">
		</form>
	</div>
	<div id="supported_cities">
		{% trans "Supported Cities" %}:
		<ul>
		{% for city in cities %}
			<li><a href='{{city.get_absolute_url}}'>{{city.name}},{{city.province.abbrev}}</a></li>
		{% endfor %}
			<li><a href="/about/add_city">{% trans "Add Your City" %}</a></li>
		</ul>
	</div>
	

</div>
</div>
{% endblock %}

{% block content_third %}
<div id="status" >
	<div id=col1>
		<div class='block'>
			<h4>{% trans "How to Report a Problem" %}</h4>
		   <ol>
			   <li>{% trans "Enter a nearby postal code, street name, or city" %}</li>
			   <li>{% trans "Locate the problem on a map of the area" %}</li>
			   <li>{% trans "Enter details of the problem" %}</li>
			   <li>{% trans "We send it to the city on your behalf" %}</li>
			</ol>
		</div>
	</div>
	<div id=col2>
	<div id='stat-group'>
		<div class='stat'>
			<span class='number'>{{report_counts.recent_new}}</span><br/>
			<span class='text'>{% trans "Reports Filed" %}</span>
		</div>
		<div class='stat'>
			<span  class='number'>{{report_counts.recent_fixed}}</span><br/>
			<span class='text'>{% trans "Reports Fixed" %}*</span>
		</div>
		<div class='stat'>
			<span class='number'>{{report_counts.recent_updated}}</span><br/>
			<span class='text'>{% trans "Reports Updated" %}</span>
		</div>
	</div>
	<div class="fix-disclaimer"><p>*{% trans "As reported by fixmystreet.ca users." %}</p></div>

<!--	<div class='block'>
		<h4>{% trans "Recent Reports" %}</h4>
		<ul>
		{% for report in recent_reports %}
			<li><a href='{{report.get_absolute_url}}'>{{report.title}}</a></li>
		{% endfor %}
		</ul>
	</div>
-->

	</div>
	</div>
</div>
{% endblock %}