{% extends "base.html" %}
{% load i18n %}
{% block title %}
	{% trans "Privacy" %}
{% endblock %}
{% block content %}
<div id="page_content_container">
<h3>FixMyStreet Canada {% trans "Privacy Policy" %}</h3>
<div id="privacy" class='text-page'>
{% blocktrans %}
<h4>About this policy</h4>

<p>This privacy policy sets out how fixmystreet.ca uses and 
protects any information that you give fixmystreet.ca when 
you use this website. fixmystreet.ca is committed to ensuring 
that your privacy is protected.</p> 

<h4>What we collect</h4>

<p>When you submit a report, or create an account with 
fixmystreet.ca,  we collect the following information:
</p>
<ul>
	<li>your name</li>
    <li>your email address</li>
    <li>your phone number</li>
</ul>
<h4>What we do with this information</h4>    
<p>
If you submit a problem, we pass on your contact details, 
and details of the problem, to the municipality contact 
responsible for the area where you located the problem. 
When you submit a report or update, your name is displayed 
upon the site, but not your email address or phone number.
</p>
<p>
We will never give or sell your contact information to 
anyone else, unless we are obliged to by law. 
</p>
<h4>Security</h4>
<p>
We are committed to ensuring that your information 
is secure. In order to prevent unauthorised access or 
disclosure we have put in place suitable physical, 
electronic and managerial procedures to safeguard and 
secure the information we collect online.
</p>
<h4>How we use cookies</h4>
<p>A cookie is a small file which asks permission to 
be placed on your computer’s hard drive. Once you agree, 
the file is added and the cookie helps analyse web traffic 
or lets you know when you visit a particular site. 
Cookies allow web applications to respond to you as an 
individual. The web application can tailor its operations to 
your needs, likes and dislikes by gathering and remembering 
information about your preferences.</p>

<p>We use traffic log cookies to identify which pages 
are being used. This helps us analyse data about webpage 
traffic and improve our website in order to tailor 
it to customer needs. We only use this information 
for statistical analysis purposes and then the data is 
removed from the system.</p>

<h4>Questions</h4>

<p>For common questions and answers regarding fixmystreet.ca
 privacy, contact info@fixmystreet.ca, or use the contact form
 provided on the site.<p>
 
<h4>Effective Date</h4>
<p>
This policy was last updated the 15 of July, 2011.
</p>
{% endblocktrans %}
</div>
</div>
{% endblock %}